# Jar files: for compliance with EULA (do not distribute) and because binary
*.jar

# EULA file (must be changed manually after generation by server jar)
/eula.txt

# World directories
/earth/
/hub/
/world/
/world_*/

# Logs
logs/
*.log

# Database files
*.db

# Database backup files
*.db.bak

# Database journal files
*.db-journal

# Json files
*.json

# Flat file directories
flatfile/

# Data directories
data/
userdata/

# Dynmap tiles
/plugins/dynmap/web/tiles/*/
!/plugins/dynmap/web/tiles/_markers_/
/plugins/dynmap/ids-by-ip.txt

# Karma data
karma.yml

# Player maps
playermap.yml
usermap.csv

# Bakcups
*.db.bak
backup/

##################
# Exempted files #
##################

!/plugins/LuckPerms/contexts.json
