# Jar files: for compliance with EULA (do not distribute) and because binary
*.jar

# EULA file (must be changed manually after generation by server jar)
/eula.txt

# World directories
/world/
/world_*/

# Server logs
/logs/

# Database files
*.db

# Database backup files
*.db.bak

# Json files
*.json

# Bakcups
*.db.bak
backup/
